@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
}

.heading {
  font-family: "Tinos", serif;
  font-size: 38.57px;
  font-weight: bold;
  margin: 0.5em 0;
  line-height: 1em;
  text-rendering: optimizeLegibility;
}

.para {
  font-size: 18px;
  margin-bottom: 16.2px;
  line-height: 1.5em;
}

.custom-checkbox {
  appearance: none; /* Removes default checkbox styling */
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background-color: #fff;
  background-image: url("/public/assets/unchecked.jpg"); /* Image for unchecked state */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 0.2s ease, background-image 0.2s ease;
}

.custom-checkbox:checked {
  background-color: #d3d3d3;
  background-image: url("/public/assets/checked.jpg"); /* Image for checked state */
}

/* Custom Responsive */
@media screen and (max-width: 870px) {
  .rights-reserved-box {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 768px) {
  .para {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .accredited {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-rights-links {
    flex-direction: column;
    gap: 10px;
  }
  .rights-reserved-text {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .search-tab {
    font-size: 13.69px;
    padding: 9px 9px;
  }
}
